body {
    font-family: 'Poppins', sans-serif;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

div ul li:hover a {
    color: #2c9fd4;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron .container {
    max-width: 30rem;
}

.album {
    border: 1px;
}

a:hover {
    text-decoration: none
}

@font-face {
    font-family: CODE;
    src: url(../assets/font/CODE.otf);
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}